<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Status</title>
</head>
<body>

 Hot Tub Status
 <p>Water Temperature: {{water_temperature}}</p>
 <p>Air Temperature: {{air_temperature}}</p>
<form method="post" name="update">
    <input type="checkbox" name="circulation_pump" id="circulation_pump" value="{{circulation_pump}}"/>
    <label for="circulation_pump"> Circulation Pump</label><br/>
    <input type="submit" value="update">
</form>

</body>
</html>